

.window {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 70px;
    border: 1.5px solid #7fd3ef;
    border-radius: 5px;
    background-color:#292c35;
    margin: 10px;

}
.number{
    font-size: 40px;
    font-weight: bolder;
     color:#7fd3ef;
}
.string{
    font-size: 13px;
}
.numberRed{
    color: #f03
}

